<!--navbar-->
<nav id="navbar">
  <div class="container clearfix">
    <div id="logo-box" class="navbar-start">
      <a href="/" class="logo text-uppercase" routerLink="/">Travel Recommendation</a>
    </div>
    <div id="nav-links" class="responsive navbar-end">
      <ul>
        <li class="nav-item"><a href="#about" class="nav-link text-uppercase">About</a></li>
        <li class="nav-item"><a href="#recom" class="nav-link text-uppercase">Get Recommendation</a></li>
        <li class="nav-item"><a href="#profile" class="nav-link text-uppercase" routerLink="/profile">Profile</a></li>
      </ul>
    </div>
  </div>
</nav>
<!--navbar-->
