<!--navbar-->
<nav id="navbar">
  <div class="container clearfix">
      <div id="logo-box">
          <a href="/" class="logo text-uppercase">Travel Recommendation</a>
      </div>
      <div id="nav-links" class="responsive">
          <ul>
              <li class="nav-item"><a href="#" class="nav-link text-uppercase nav-icon"><i
                          class="fas fa-bars"></i></a></li>
              <li class="nav-item"><a href="#about" class="nav-link text-uppercase">About</a></li>
              <li class="nav-item"><a href="#recom" class="nav-link text-uppercase">Get Recommendation</a></li>
              <li class="nav-item"><a href="#profile" class="nav-link text-uppercase">Profile</a></li>
          </ul>
      </div>
  </div>
</nav>
<!--navbar-->
