<footer>
  <div class="container clearfix">
      <div class="col">
          <h4 class="text-uppercase">Location</h4>
          <p>34100 Istanbul/Turkey</p>
      </div>
      <div class="col">
          <h4 class="text-uppercase">Around The Web</h4>
          <ul>
              <li>
                  <button class="btn btn-outline btn-social">
                      <i class="fab fa-fw fa-facebook-f"></i>
                  </button>
              </li>
              <li>
                  <button class="btn btn-outline btn-social">
                      <i class="fab fa-fw fa-twitter"></i>
                  </button>
              </li>
              <li>
                  <button class="btn btn-outline btn-social">
                      <i class="fab fa-fw fa-linkedin-in"></i>
                  </button>
              </li>
          </ul>
      </div>
  </div>
</footer>

