<div class="container">
  <div class="column">
    <div class="row" style="margin-top: 6rem;">
      <h2 class="text-uppercase" style="margin-bottom: 4rem; margin-left: 1.5rem;">Add Location </h2>
      <div class="col">
        <div class="card mb-3">
          <div class="card-body">
            <!-- <div>
              <h5 style="margin-top: 3rem; margin-left: 0.8rem; color: gray;">Add</h5>
            </div> -->
            <div>
              <form (ngSubmit)="onsubmit()">
                <div class="">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">City</th>
                        <th scope="col">Country</th>
                        <th scope="col">Winter</th>
                        <th scope="col">Water</th>
                        <th scope="col">Culture</th>
                        <th scope="col">Nature</th>
                        <th scope="col">Entertainment</th>
                        <th scope="col">Camping</th>
                        <th scope="col">Cruise</th>
                      </tr>
                    </thead>
                    <tbody>
                      <div>
                        <div class="">
                          <tr>
                            <td>
                              <input type="text" id="City" name="postCity" placeholder="City" [(ngModel)]="city" >
                            </td>
                            <td>
                              <input type="text" id="Country" name="postCountry" placeholder="Country" [(ngModel)]="country" >
                            </td>
                            <td>
                              <select name="Winter" id="Winter" [(ngModel)]="winter">
                                <option value="0" selected="selected">Rate
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                              </select>
                            </td>
                            <td>
                              <select name="Water" id="Water" [(ngModel)]="water">
                                <option value="0" selected="selected">Rate</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                              </select>
                            </td>
                            <td>
                              <select name="Culture" id="Culture" [(ngModel)]="culture">
                                <option value="0" selected="selected">Rate</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                              </select>
                            </td>
                            <td>
                              <select name="Nature" id="Nature" [(ngModel)]="nature">
                                <option value="0" selected="selected">Rate</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                              </select>
                            </td>
                            <td>
                              <select name="Entertainment" id="Entertainment" [(ngModel)]="entertainment">
                                <option value="0" selected="selected">Rate</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                              </select>
                            </td>
                            <td>
                              <select name="Camping" id="Camping"  [(ngModel)]="camping">
                                <option value="0" selected="selected">Rate</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                              </select>
                            </td>
                            <td>
                              <select name="Cruise" id="Cruise"  [(ngModel)]="cruise">
                                <option value="0" selected="selected">Rate</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                              </select>
                            </td>
                            <td></td>
                          </tr>
                        </div>
                      </div>
                    </tbody>
                  </table>
                </div>
                <div class="row">
                  <button (click)="addForm()"> ad more</button>
                  <button (click)="onsubmit()"> submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
