<section id="location">
  <div class="container">

    <h2 class="text-uppercase" style="margin-bottom: 8rem;">Destinations</h2>

    <div class="row justify-content-center">
      <div class="col-6">
        <div class="input-group">
          <input type="text" class="form-control" name="search" id="search">
        </div>
      </div>

      <div class="col-2">
        <div class="input-group-append">
          <button class="btn btn-primary">Search</button>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-10">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">City</th>
              <th scope="col">Country</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor= "let item of Locations">
              <td>{{ item.City }}</td>
              <td>{{ item.Country }}</td>

            </tr>

          </tbody>
        </table>
      </div>
    </div>

  </div>
</section>
