<section id="portfolio">
  <div id="portfolio" class="container">
    <h2 class="text-uppercase" style="margin-bottom: 8rem;">Most visited places</h2>
    <div id="portfolio-images" class="clearfix">
      <div class="col">
        <div class="portfolio-item">
          <a href="#">
            <img class="img-fluid" src="../../img/paris.jpg" alt="">
            <div class="img-overlay">
              <div class="icon"><i class="fas fa-map-marker-alt fa-2x"></i></div>
            </div>
          </a>
        </div>
        <h3 style="margin-top: 2rem;">Paris - France</h3>
      </div>

      <div class="col">
        <div class="portfolio-item">
          <a href="#">
            <img class="img-fluid rounded " src="../../img/london.jpg" alt="">
            <div class="img-overlay">
              <div class="icon"><i class="fas fa-map-marker-alt fa-2x"></i></div>
            </div>
          </a>
        </div>
        <h3 style="margin-top: 2rem;">London - England</h3>
      </div>

      <div class="col">
        <div class="portfolio-item">
          <a href="#">
            <img class="img-fluid" src="../../img/newyork.jpg" alt="">
            <div class="img-overlay">
              <div class="icon"><i class="fas fa-map-marker-alt fa-2x"></i></div>
            </div>
          </a>
        </div>
        <h3 style="margin-top: 2rem;">New York - USA</h3>
      </div>
    </div>
  </div>
</section>
