<section id="portfolio">
  <div id="portfolio" class="container">
    <h2 class="text-uppercase" style="margin-bottom: 8rem;">Most visited places</h2>
    <div id="portfolio-images" class="clearfix">
      <div class="col">
        <div class="portfolio-item">
          <a href="#">
            <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/4/4b/La_Tour_Eiffel_vue_de_la_Tour_Saint-Jacques%2C_Paris_août_2014_%282%29.jpg" alt="Paris">
            <div class="img-overlay">
              <div class="icon"><i class="fas fa-map-marker-alt fa-2x"></i></div>
            </div>
          </a>
        </div>
        <h3 style="margin-top: 2rem;">Paris - France</h3>
      </div>

      <div class="col">
        <div class="portfolio-item">
          <a href="#">
            <img class="img-fluid rounded " src="https://lp-cms-production.imgix.net/image_browser/london-big-ben.jpg" alt="">
            <div class="img-overlay">
              <div class="icon"><i class="fas fa-map-marker-alt fa-2x"></i></div>
            </div>
          </a>
        </div>
        <h3 style="margin-top: 2rem;">London - England</h3>
      </div>

      <div class="col">
        <div class="portfolio-item">
          <a href="#">
            <img class="img-fluid" src="https://cdn.turkishairlines.com/m/157e27aba7dc4632/original/Travel-Guide-of-New-York-via-Turkish-Airlines.jpg" alt="">
            <div class="img-overlay">
              <div class="icon"><i class="fas fa-map-marker-alt fa-2x"></i></div>
            </div>
          </a>
        </div>
        <h3 style="margin-top: 2rem;">New York - USA</h3>
      </div>
    </div>
  </div>
</section>
